/* src/Modal.css */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 80%;
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  margin: 0;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-body {
  margin: 20px 0;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}
/* src/ExpenseDetails.css */
.expense-details {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  max-width: 600px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.detail:last-child {
  border-bottom: none;
}

.label {
  font-weight: bold;
  color: #555;
  flex: 1;
}

.value {
  color: #777;
  flex: 1;
  text-align: right;
}

.input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  width: 60%;
}

progress {
  width: 100px;
  height: 10px;
}

.submit-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}

.submit-button:hover {
  background-color: #0056b3;
}